<%- include('partials/navbar.ejs') %>
<br />
<br />
<br />
<br />
<div class="container-xl">
  <img
    src="https://media.tenor.com/bedbc9qi-PcAAAAC/rick-ashtley-never-gonna-give-up.gif"
    class="img-fluid"
    alt="GIF"
    width="100%"
  />
</div>
