</main>

<footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
  <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <ul class="list-unstyled small">
          <li class="mb-2">Hecho con amor y Bootstrap por tu novia .</li>
          <li class="mb-2">© 2023 Recetario.</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>

</html>